body {
    margin: 0;
    padding: 0;
}

#form {
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 150px;
}

input {
    width: 100%;
    margin-top: 50px;
    padding: 10px;
}